<h2><%= escape_html(@memo[1]) %></h2>
<p><%= escape_html(@memo[2]) %></p><br>
<p>作成日時 : <%= @memo[3] %></p>
<p>更新日時 : <%= @memo[4] %></p>
<a href="/<%= params['id'] %>/edit">編集</a>
<form action="/<%= params['id'] %>/destroy" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="削除する">
</form>
